<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Iniciar Sesión" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <!-- <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template> -->
            <input pInputText type="text" name="correo" id="correo" placeholder="correo" [(ngModel)]="correo" />
            <input pInputText type="password" name="clave" id="clave" placeholder="clave" [(ngModel)]="clave" />
            <button pButton (click)="inciarSesion()">Logearse</button>
        </p-card>
    </div>
</div>