<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../../assets/icono-menu.png" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <a (click)="logeo()"><i class="pi pi-user"> <span> Inicar Sesión</span></i></a>
    </ng-template>
</p-menubar>
<div class="p-grid p-jc-center container">
    <div class="p-col-12 secciones">
        <div class="p-grid p-jc-center">
            <p class="p-col-12 p-lg-3 p-md-3 p-sm-12 p-m-3 bloques"></p>
            <p class="p-col-12 p-lg-3 p-md-3 p-sm-12 p-m-3 bloques"></p>
            <p class="p-col-12 p-lg-3 p-md-3 p-sm-12 p-m-3 bloques"></p>
        </div>
    </div>
    <div class="p-col-11 about">
        <div class="p-grid p-jc-center">
            <div class="p-col-12 p-m-3 block-about">
                <p>About</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="p-grid">
    <div class="p-col-4" *ngFor="let item of lista_preg">
        <p-card header="{{item.usuario}}" subheader="{{item.categoria}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>{{item.pregunta}}</p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
            </ng-template>
        </p-card>
    </div>
</div> -->